@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: "Raleway";
    src: url(../Fonts/Raleway-Bold.woff) format(woff),
     url(../Fonts/Raleway-Bold.ttf) format(truetype);
     font-weight: bold;
}
@font-face {
    font-family: "Raleway";
    src: url(../Fonts/Raleway-Regular.woff) format(woff),
    url(../Fonts/Raleway-Regular.ttf) format(truetype);
    font-weight: 400;
}
@font-face {
    font-family: "Raleway";
    src: url(../Fonts/Raleway-Italic.woff) format(woff),
    url(../Fonts/Raleway-Italic.ttf) format(truetype);
    font-style: italic;
}

html {
    background-color: #f5f5f5;
}

body {
    box-sizing: border-box;
    width: 1160px;
    margin: auto;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 400;
    color: #333333;
}

h1, h2, h3 {
    font-family: "Lato", Arial, sans-serif;
}

h1 {
    font-size: 3.7rem;
    padding: 0;
}

h1, h2 {
    text-align: center;
    line-height: 1.2rem;
}

h3 {
    color: #17abb3;
    margin-top: 25px;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

header, footer {
    box-sizing: border-box;
    width: 1160px;
    background-color: #17abb3;
    color: #ffffff;
}

#picture {
    width: 150px;
    border: solid 5px #ffffff;
    border-radius: 50%;
}

.header_icons {
    width: 20px;
    margin-left: 15px;
    padding-right: 5px;
} 

.footer_icons {
    width: 30px;
}

.first_section {
    box-sizing: border-box;
    background-color: #e3e3e3;
    padding: 25px 40px;
}

.stars {
    width: 15px;
}

#second_section {
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 25px 40px 60px 40px;
}

hr {
    border: solid 1px lightgray;
    margin-bottom: 15px;
}

#myface:hover {
    cursor: zoom-in;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.footer_icons:hover {
    opacity: 75%;
}
